{% extends 'base.html' %}

{% block title %}{{title}} Feedback{% endblock %}

{% block content %}

<form class="form-control w-75 m-auto" id="feedback-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field (class_="form-control")}}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button class="btn btn-outline-success" type="submit">{{title}}</button>
</form>

{% endblock %}